body {
  font-family: lato;
}

#hero-img1, #hero-img2, #hero-img3 {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
   }

   .img-nav-container {
    position: relative;
    top: 0;
    left: 0;
   }

   .top-card {
    position: absolute;
    top: 25%;
    left: 5%;
    width: auto;
    height: auto;
   }

   #slogan {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 300px;
    width: 600px;
    background-color: transparent;
    margin: auto;
  }

  #getStarted {
    color: #262c34;
    background-color: white;
    border-radius: 15px;
    padding: 0 65px;
   }

   #getStarted:hover {
     background-color: whitesmoke;
     -webkit-transform: scale(1.05);
     -ms-transform: scale(1.05);
     transform: scale(1.05); 
  }
  
  #hero-img2 {
    display: none;
  }

  #hero-img3 {
    display: none;
  }

  @media only screen and (max-width: 1500px) {

    #slogan-text1 {
    font-size: 35px !important;
    }

    #slogan-text2 {
      font-size: 35px !important;
      }

    
}

@media only screen and (max-width: 1300px) {

  #getStarted {
    padding: 0 45px;
   }

   #slogan-text1 {
    font-size: 30px !important;
    }

    #slogan-text2 {
      font-size: 30px !important;
      }
  
}

@media only screen and (max-width: 1075px) {

  #getStarted {
    padding: 0 45px;
   }

   #slogan-text1 {
    font-size: 25px !important;
    }

    #slogan-text2 {
      font-size: 25px !important;
      }
  
}

  @media only screen and (max-width: 900px) {
  
    #hero-img1 {
      display: none;
    }

    #hero-img2 {
      display: block;

    }

    #getStarted {
      padding: 0 30px;
      font-size: 12px;
      height: auto;
     }

   .top-card {
     top: 10%;
     left: 0%;
     width: 100%;
   }

   #slogan-text1 {
    font-size: 25px !important;
    }

    #slogan-text2 {
      font-size: 25px !important;
      }
    
}


@media only screen and (max-width: 550px) {


  #hero-img2 {
    display: none;
  }

  #hero-img3 {
    display: block;

  }

  .top-card {
    top: 15%;
    left: 0%;
    width: 100%;
  }

  #getStarted {
    padding: 0 30px;
    font-size: 12px;
   }

   #slogan-text1 {
    font-size: 23px !important;
    text-align: center;
  }

  #slogan-text2 {
    font-size: 23px !important;
    text-align: center;
    font-weight: lighter;
  }
  
  
}