.brand-logo img {
    height: 28px;
    width: 65px;
    margin-left: 60px;
    margin-top: 20px;
    z-index: 100;
  }

  .sidebar{
    background: #252c35;
    color: #fff;
    height: 100%;
}
.sidebar{
    width: 250px;
    float: left;
    position: absolute;
}

.additionalClassForHead {
    background-color: #252c35 !important;
    font-size: 15px;
}

.additionalClassForContent {
    background-color: #1f2831 !important;
    color: #808791 !important;
    border-left: 2px solid #89f0d4;
    cursor: pointer;
}

.dropDownList {
    margin-left: 50px;
}

.dropDownItem {
    margin: 20px 0;
}

.dropDownItem:hover {
    cursor: pointer;
}

.bullet-active {
    background-color: #9ae2e6;
    border-radius: 6px;
    height: 6px;
    margin-left: -20px;
    margin-right: 10px;
    width: 6px;
    box-shadow: rgb(161,237,214) 0px 0px 10px;
    float: left;
    position: relative;
    margin-top: 8px;
}

.bullet {
    display: none;
    background-color: #9ae2e6;
    border-radius: 6px;
    height: 6px;
    margin-left: -20px;
    margin-right: 10px;
    width: 6px;
    box-shadow: rgb(161,237,214) 0px 0px 10px;
    float: left;
    position: relative;
    margin-top: 8px;
}

.drawer-bullet-positive {
    background-color: #6da97f;
    border-radius: 10px;
    height: 10px;
    margin-left: -40px;
    margin-right: 10px;
    width: 10px;
    box-shadow: rgb(106,168,79) 0px 0px 10px;
    float: left;
    position: relative;
    margin-top: 8px;
}

.drawer-bullet-neutral {
    background-color: #519aca;
    border-radius: 10px;
    height: 10px;
    margin-left: -40px;
    margin-right: 10px;
    width: 10px;
    box-shadow: rgb(81,154,202) 0px 0px 10px;
    float: left;
    position: relative;
    margin-top: 8px;
}

.drawer-bullet-negative {
    background-color: #969ca5;
    border-radius: 10px;
    height: 10px;
    margin-left: -40px;
    margin-right: 10px;
    width: 10px;
    box-shadow: rgb(150,156,165) 0px 0px 10px;
    float: left;
    position: relative;
    margin-top: 8px;
}


.mx-donutchart {
    margin: auto;
    width: 50%;
    cursor: pointer;
}

.hideMe {
    display: none;
}

.centerCards {
 width: 100%;
margin-left: 6.5%;
margin-top: -18px;
}

#donutChart {
    margin-top: 20px;
    margin-left: 1.5%;
    margin-top: 20px;
    width: 375px;
    height: 340px;
    float: left;
}

#commentCard {
    margin-top: 20px;
    margin-left: 1.5%;
    margin-top: 20px;
    width: 375px;
    height: 340px;
    float: left;
    
}

#barChart {
    margin-left: 8%;
    width: 82%;
    height: 450px;
    float: left;
}

.card-horizontal {
    height: 100px;
}



.mx-menu {
  line-height: 10px !important;
}

.totalCommentsNumber {
    font-size: 120px;
    margin: -20px;
    color: #519aca;
    cursor: pointer;
    margin-top: 30px;
}

.totalCommentsNumber:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.totalComments {
    color: grey;
    cursor: pointer;
}

.drawer-comments {
    background-color: white;
    height: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}

#users {
    margin-left: 8%;
    width: 85%;
    height: 700px;
    float: left;
}

/* bar chart */
figure {
	max-width: 1200px;
}

#x-axis {
	float: left;
	margin-right: 20px;
	margin-block-start: 1.25em;
	font-size: 12px;

}



.question-row {
	margin-bottom: .5em;
}
@keyframes expand {
	from {width: 0%;}
	to {width: 100%;}
}

.chart {
	overflow: hidden;
	width: 0%;
	animation: expand .5s ease forwards;
}
.chart {
	animation-delay: .1s;
}
.chart {
	animation-delay: .2s;
}
.block {
	display: block;
	height: 35px;
	color: #fff;
	font-size: 15px !important;
	float: left;
	background-color: #969ca5;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: opacity, .3s ease;
	cursor: pointer;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #519aca;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #76ae86;
}

.block:hover {
	opacity: .65;
}
.value {
	display: none;
	line-height: 1em;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
}

@media screen and (min-width: 768px) {
	
	.block {
		font-size: 1em;
	}
	.legend {
		width: 50%;
	}
}